---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Layout from "../layouts/Layout.astro";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<Layout>
    <section>
        <h2>Sorry about that...</h2>
        <h3>... I am still working on this</h3>
    </section>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }