---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Layout from "../layouts/Layout.astro";

const pageTitle = "Where Am I Now?";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<Layout pageTitle={pageTitle}>
    <section class="text-block typography--main">
        <section class="title-card">
            <h2>What Is Kirati Doing Now?</h2>
            <h3>Current Happenings.</h3>
            <h4 class="creation-date">
                &RightArrowLeftArrow; Commited Aug 14, 2025      
                <span class="subtext">+ pushed Aug 14, 2025</span>
            </h4>
        </section>
        <section>
            <ul>
                {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
            </ul>
        </section>
    </section>
</Layout>