---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Layout from "../layouts/Layout.astro";

const pageTitle = "Where Am I Now?";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<Layout pageTitle={pageTitle}>
        <section class="text-block">
                <section class="title-card">
                        <h2>What Is Kirati Doing Now?</h2>
                        <h3>Current Happenings.</h3>
                        <h6>
                                <span class="emoji">&RightArrowLeftArrow;</span> 
                                Commited Aug 14, 2025      
                                <span class="subtext">+ pushed Aug 14, 2025</span>
                        </h6>
                </section>
                <section>
                        <ul>
                                <li><a href="/posts/hello-world">Hello World</a></li>
                        </ul>
                </section>
        </section>
</Layout>

<style>
    .emoji {
        font-family: "NeueBit";
        color: var(--sky);
        transform: translateY(-.1em);
        transform-origin: top center;
    }

    .subtext {
        color: var(--light-gray);
    }