---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Layout from "../layouts/Layout.astro";

const pageTitle = "Kirati's Projects";
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<Layout pageTitle={pageTitle}>
    <section class="text-block typography--main">
        <section>
                <h2>Sorry about that...</h2>
                <h3>... this section is not finished just yet.</h3>
        </section>
    </section>
</Layout>