<footer>
        <div class="content center">
            <div class="links">
                <a href="https://instagram.com/kirati.kiviniemi">Instagram</a>
            </div>
            <div class="links">
                <a href="https://github.com/notkirati">GitHub</a>
            </div>
            <div class="banner">
                <div class="emoji-div prevent-select">
                    <span class="emoji">&#129505</span>
                </div>
                <p>Thanks for stopping by.</p>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="contact-header">
                        <div>
                            <h2>Contact</h2>
                            <p>You can reach me easily through the methods below.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="div-sprite prevent-select">
                <button class="button-sprite">
                    <img class="sprite" src="images/main.png" alt="">
                </button>
            </div>
            
            <div class="information">
                    <a href="mailto:kiviniemi@kirati.dev">kiviniemi@kirati.dev</a>
            </div>
        </div>
</footer>

<style>
    .center {
        box-sizing: content-box;
        margin-inline: auto;
        width: calc(100% - var(--space-xl) * 2);
        max-inline-size: 800px;
    }

    footer {
        width: 100%;
    }

    .sprite {
        image-rendering: pixelated;
        transform: scale(2);
    }

    .button-sprite {
        all: unset;
        cursor: pointer;
        position: absolute;
    }

    .div-sprite {
        grid-area: sprite;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .content {
        padding-block-start: var(--space-2xl);
        padding-block-end: var(--space-2xl);
        
        border-top: 1px solid #2220347f;
        display: grid;
        grid-template: "links1 links2 information sprite" 1fr "banner banner contact sprite" auto / .2fr .2fr .4fr .2fr;
        gap: var(--space-s) var(--space-m);
    }

    .links:first-child {
        grid-area: links1;
    }

    .links {
        display: flex;
        flex-flow: column wrap;
        gap: var(--space-2xs);
    }

    .links a {
        display: inline-block;
    }

    a {
        color: unset;
        text-decoration: underline;
        text-decoration-color: #2220347f;
        text-underline-offset: max(.1em,2.5px);
        transition: text-decoration-color .2s ease-in-out,font-weight .2s ease-in-out;
    }

    .emoji {
        transform: scale(1.5) translateY(-.35em);
        transform-origin: top center;
    }

    .emoji-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner {
        grid-area: banner;
        color: #222034dd;
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
    }

    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 600px;
        gap: var(--space-m);
    }

    .contact-content {
        grid-area: information;
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex: 1;
    }

    .contact-header h2 {
        font-size: var(--step-2);
        font-weight: 800;
        margin: 0;
    }

    .information {
        grid-area: contact;
        align-self: center;
    }

    p {
        overflow-wrap: break-word;
    }

    .prevent-select {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    }

    *::-moz-selection {
        background: var(--yellow);
        color: #222034dd;
        text-shadow: none;
        -webkit-text-stroke-width: 1em;
    }