<footer>
        <div class="content center">
            <div class="links">
                <a href="https://instagram.com/kirati.kiviniemi">Instagram</a>
            </div>
            <div class="links">
                <a href="https://github.com/notkirati">GitHub</a>
            </div>
            <div class="banner">
                
                <p><span class="emoji">&#129505</span>Thanks for stopping by.</p>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="contact-header">
                        <div>
                            <h2>Contact</h2>
                            <p>You can reach me easily through the methods below.</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="div-sprite">
                <button class="button-sprite">
                    <img class="sprite" src="images/main.png" alt="">
                </button>
            </div>
            
            <div class="information">
                    <a href="mailto:kiviniemi@kirati.dev">kiviniemi@kirati.dev</a>
                </div>
        </div>
</footer>

<style>
    .center {
        box-sizing: content-box;
        margin-inline: auto;
        width: calc(100% - var(--space-xl) * 2);
        max-inline-size: 800px;
    }

    footer {
        font-size: var(--step--1);
        width: 100%;
    }

    .sprite {
        image-rendering: pixelated;
        height: 100%;
    }

    .button-sprite {
        all: unset;
        cursor: pointer;
        height: 100%;
    }

    .div-sprite {
        grid-area: sprite;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        padding-block-start: var(--space-2xl);
        padding-block-end: var(--space-2xl);
        
        border-top: 1px solid var(--gray-6);
        display: grid;
        grid-template: "links1 links2 information sprite" 1fr "banner banner contact sprite" auto / .25fr .25fr auto auto;
        gap: var(--space-m) var(--space-xl);
    }

    .links:first-child {
        grid-area: links1;
    }

    .links {
        display: flex;
        flex-flow: column wrap;
        gap: var(--space-2xs);
    }

    .links a {
        display: inline-block;
    }

    a {
        color: unset;
        text-decoration: underline;
        text-decoration-color: var(--gray-8);
        text-underline-offset: max(.1em,2.5px);
        transition: text-decoration-color .2s ease-in-out,font-weight .2s ease-in-out;
    }

    .emoji {
        transform: scale(2);
    }

    .banner {
        grid-area: banner;
        color: var(--gray-11);
        display: flex;
        align-content: center;
    }

    

    .banner p {
        text-decoration: none;
    }

    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 600px;
        gap: var(--space-m);
    }

    .contact-content {
        grid-area: information;
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex: 1;
    }

    .contact-header h2 {
        font-size: var(--step-1);
        font-weight: 800;
        margin: 0;
    }

    .information {
        grid-area: contact;
        align-self: center;
    }

    p {
        overflow-wrap: break-word;
    }