<header transition:persist>
    <div class="center">
        <nav id="nav">
            <div class="home prevent-select">
                <a id="logo" class="prevent-select" href="/">
                    home
                    <span class="hidden">Kirati Kiviniemi</span>
                </a>
            </div>
            <div class="links">
                <a href="/projects/">projects</a>
                <a href="/about/">about</a>
                <a href="/now/">now</a>
            </div>
        </nav>
    </div>
</header>

<style>
    svg {
        display: block;
        width: auto;
        max-inline-size: 100%;
    }

    header {
        width: 100%;
        position: sticky;
        background-color: var(--white);
        top: 0;
        z-index: 10;
    }

    #logo {
        font-family: "Unnamed Font Copy";
        font-size: var(--step-3);
        line-height: 1;
    }

    #nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-s);
        padding-block: var(--space-s);
    }

    .home{
        display: flex;
        align-items: center;
        margin-inline-end: var(--space-l);
    }

    .links {
        display: inline-flex;
        align-items: stretch;
        gap: var(--space-2xs);
        margin-inline-end: calc(-1 * var(--space-s));
    }

    .links a {
        font-family: "Unnamed Font Copy";
        font-size: var(--step-3);
        line-height: 1;
        display: inline-flex;
        align-items: center;
        padding: var(--space-xs) var(--space-s);
    }

    @media (hover: hover) and (pointer: fine) {
        .links:hover {
            font-weight: var(--font-weight-normal);
        }
    }

    @media only screen and (max-width: 800px) {
        .links a {
            padding: var(--space-xs) var(--space-2xs);
        }
    }
