<footer>
        <div class="content center">
            <div class="links">
                <span><a href="https://instagram.com/kjkiviniemi">Instagram</a></span>
            </div>
            <div class="links">
                <span><a href="https://github.com/notkirati">GitHub</a></span>
            </div>
            <div class="banner">
                <div class="emoji-div prevent-select">
                    <span class="emoji">&heartsuit;</span>
                </div>
                <p>Thanks for stopping by.</p>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="contact-header">
                            <h2>Contact</h2>
                            <p>You can reach me easily through the methods below.</p>
                    </div>
                    
                </div>
            </div>
            <div class="sprite-div prevent-select">
                <button class="sprite-button">
                    <img class="sprite" src="/images/main.png" alt="">
                </button>
            </div>
            <div class="information">
                    <a href="mailto:kiviniemi@kirati.dev">kiviniemi@kirati.dev</a>
            </div>
        </div>
</footer>

<style>

    footer {
        width: 100%;
    }

    .sprite {
        image-rendering: pixelated;
        height: 166px;
    }

    .sprite-button{
        height: 166px;
    }

    .sprite-div{
        grid-area: sprite;
        display: flex;
        align-content: center;
        justify-content: right;
        height: 100%;
    }

    .content {
        padding-block-start: var(--space-2xl);
        padding-block-end: var(--space-2xl);
        
        border-top: 1px solid var(--light-gray);
        display: grid;
        grid-template: "links1 links2 information sprite" 1fr "banner banner contact sprite" auto / .2fr .2fr .6fr 110px;
        gap: var(--space-s) var(--space-m);
    }

    .links:first-child {
        grid-area: links1;
    }

    .links {
        display: flex;
        flex-flow: column wrap;
        gap: var(--space-2xs);
    }

    .links a {
        display: inline-block;
    }

    .emoji {
        font-family: "NeueBit";
        font-size: var(--step-3);
        color: var(--sky);
        transform: translateY(-.1em);
        transform-origin: top center;
    }

    .emoji-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner {
        grid-area: banner;
        color: #222034dd;
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
    }

    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 600px;
        gap: var(--space-m);
    }

    .contact-content {
        grid-area: information;
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex: 1;
    }

    .contact-header h2 {
        font-size: var(--step-3);
        font-family: "Unnamed Font Copy";
        contain: paint;
    }

    .information {
        grid-area: contact;
        align-self: center;
    }

    p {
        overflow-wrap: break-word;
    }