<header>
    <div class="center">
        <nav id="nav">
            <div class="home prevent-select">
                <a id="logo" class="prevent-select" href="/">Kirati</a>
            </div>
            <div class="links">
                <a href="/about/" class="links">about</a>
            </div>
        </nav>
    </div>
</header>

<style>
    header {
        width: 100%;
        padding-block: var(--space-s);
        position: sticky;
        background-color: var(--gray-1);
        top: 0;
        z-index: 10;
    }

    .center {
        box-sizing: content-box;
        margin-inline: auto;
        width: calc(100% - var(--space-xl) * 2);
        max-inline-size: 800px;
        padding-inline: var(--space-xl);
    }

    #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-s);
    }

    #logo {
        font-size: var(--step-5);
        font-weight: 800;
        color: var(--gray);
        text-decoration-color: #2220347f;
    }

    .links a {
        font-size: var(--step-1);
        display: inline-flex;
        align-items: center;
        background: transparent;
        text-decoration: none;
        line-height: 1;
        font-weight: var(--font-weight-light);
        color: var(--gray);
        padding: var(--space-xs) var(--space-s);
        border: none;
        border-radius: var(--radius-full);
        cursor: pointer;
        transition: font-weight .2s ease-in-out;
    }

    @media (hover: hover) and (pointer: fine) {
        .links:hover {
            font-weight: var(--font-weight-normal);
        }
    }

    .prevent-select {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    }

    *::-moz-selection {
        background: var(--yellow);
        color: var(--gray-12);
        text-shadow: none;
    }