<footer transition:persist>
        <div class="content center">
            <div class="links">
                <span><a href="https://instagram.com/kjkiviniemi">Instagram</a></span>
            </div>
            <div class="links">
                <span><a href="https://github.com/notkirati">GitHub</a></span>
            </div>
            <div class="banner">
                <span class="emoji prevent-select">❤</span>
                <p>Thanks for stopping by.</p>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="contact-header">
                            <h2>Contact</h2>
                            <p>You can reach me easily through the methods below.</p>
                    </div>
                    
                </div>
            </div>
            <div class="information">
                    <a href="mailto:kiviniemi@kirati.dev">kiviniemi@kirati.dev</a>
            </div>
        </div>
</footer>

<style>

    footer {
        width: 100%;
        font-size: var(--step-1);
    }

    .content {
        padding-block-start: var(--space-m);
        padding-block-end: var(--space-m);
        
        border-top: 1px solid var(--light-gray);
        display: grid;
        grid-template: "links1 links2 information" 1fr "banner banner contact" auto / .2fr .2fr .6fr;
        gap: var(--space-s) var(--space-m);
        align-items: baseline;
    }

    .links:first-child {
        grid-area: links1;
    }

    .links {
        display: flex;
        flex-flow: column wrap;
        gap: var(--space-2xs);
    }

    .emoji {
        font-family: "Base12 Pixel Font";
        font-size: var(--step-2);
        color: var(--sky);
    }

    .banner {
        grid-area: banner;
        color: #222034dd;
        display: flex;
        align-items: center;
        gap: var(--space-2xs);
    }

    .contact {
        grid-area: information;
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 600px;
        gap: var(--space-m);
    }

    .contact-content {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    .contact-header h2 {
        font-size: var(--step-3);
        font-family: "Unnamed Font Copy";
        contain: paint;
    }

    .information {
        grid-area: contact;
        align-self: center;
    }

    @media only screen and (max-width: 800px) {
        .content {
            grid-template: unset;
            display: grid;
            grid-template: "links1 links2" 1fr "information information" 1fr "contact contact" 1fr "banner banner" auto / .5fr .5fr;
        }
    }