<header class="typography typography--header" transition:name = "Main Header" transition:persist>
    <div class="center">
        <nav class="menu" class="prevent-select">
            <div class="menu menu__home">
                <a id="" href="/">
                    home
                    <span class="hidden">Kirati Kiviniemi</span>
                </a>
                <a href="javascript:void(0);" class="menu menu__button symbol hide-on-desktop" onclick="toggleMenuLinks()">=</a>
            </div>
            <div class="menu menu__links">
                <a href="/projects/">projects</a>
                <a href="/about/">about</a>
                <a href="/now/">now</a>
            </div>
            
        </nav>
    </div>
</header>

<script is:inline>
    function toggleMenuLinks() {
        var menu__links = document.getElementsByClassName("menu__links");
        if (menu__links[0].style.display === "flex") {
            menu__links[0].style.display = "none";
        } else {
            menu__links[0].style.display = "flex";
        }
    };
</script>

<style lang="scss">

    header {
        width: 100%;
        position: sticky;
        background-color: var(--white);
        top: 0;
        z-index: 10;
    };

    .typography--header {
        a {
            font-family: 'Unnamed Font Copy', 'Mondwest';
        }
    }

    .menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-block: var(--space-s);

        /* Font Override */
        font-size: var(--step-3);
        line-height: 1;

        &__home {
            display: flex;
            justify-content: space-between;
        };

        &__links {
            display: flex;
            gap: var(--space-l);
            width: fit-content;
        };

        &__button {
            font-size: var(--step-4);
        };
    }

    @media only screen and (max-width: 800px) {
        .menu {
            flex-direction: column;

            &__links {
                display: none;
                flex-direction: column;
                gap: var(--space-m);
            }
        }
    }

    @media only screen and (min-width: 800px) {
        .menu__links {
            display: flex;
        }
    }
</style>


